<div class="container">

    <app-snackbar [errorMessage]="errorMessage" *ngIf="errorMessage"></app-snackbar>
    <app-snackbar [successMessage]="successMessage" *ngIf="successMessage"></app-snackbar>
    <app-loader *ngIf="isLoading"></app-loader>

    <form #adminForm = ngForm (ngSubmit)="onSubmit(adminForm)" [hidden]="isLoading">
        <h2>FILL IN CANDIDATES' DETAILS</h2>
        <label class="label">Name:</label>
        <input 
            type="text" 
            name="name"
            required
            ngModel>
       
        <label class="label">Email:</label>
        <input 
            type="email"
            name="email"
            required
            ngModel>
        
        <label class="label">Age:</label>
        <input 
            type="number"
            name="age"
            id="candidateAge"
            required
            ngModel>
       
        <label class="label">Gender:</label>
        <div class="form-check">
            <input class="form-check-input" name="gender" type="radio" value="male" id="male" ngModel>
            <label class="form-check-label" for="male">
                MALE
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" name="gender" type="radio" value="female" id="female" ngModel>
            <label class="form-check-label" for="female">
                FEMALE
            </label>
        </div>

        <labeL class="label">Party:</labeL>
        <input 
            type="text"
            name="party"
            required
            ngModel>
        
        <labeL class="label">Course:</labeL>
        <input 
            type="text"
            name="course"
            required
            ngModel>
        
        <labeL class="label">Year:</labeL>
        <input 
            type="number"
            name="year"
            required
            ngModel>
      
        <!-- <label class="label">Upload Image:</label>
        <input 
            type="file"
            name="photo"
            required
            ngModel> -->
        
        <label class="label">Position:</label>
        <select name="position" required ngModel>
            <option value="president">President</option>
            <option value="deputypresident">Deputy President</option>
            <option value="primeminister">Prime Minister</option>
        </select>

        <labeL class="label">Votes:
            <input type="number" 
                name="votes" 
                required ngModel>
        </labeL>

        <button [disabled]="adminForm.invalid" class="btn btn-primary" type="submit">Submit</button>

        <p *ngIf="adminForm.invalid&&adminForm.dirty" id="errorMessage">REQUIRED FIELD</p>
    </form>
</div>