<div class="container">
    <app-loader *ngIf="isLoading"></app-loader>
    <app-snackbar [errorMessage]="errorMessage" *ngIf="errorMessage"></app-snackbar>
    <app-snackbar [successMessage]="successMessage" *ngIf="successMessage"></app-snackbar>
    
    <div class="div">
        <h2>Candidates List</h2>
        <a [routerLink]="['/add-candidates-form']">
            <button type="button" class="btn btn-primary">ADD CANDIDATE</button>
        </a>
            <button type="button" class="btn btn-danger" (click)="openDeleteAllCandidatesModal()">DELETE CANDIDATE</button>
            <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalTitle">CANDIDATE DELETE CONFIRMATION</h5>
                            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                <i id="xIcon" class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            ARE YOU SURE YOU WANT TO DELETE All CANDIDATE?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
                            <button type="button" class="btn btn-danger" (click)="deleteAllCandidates()">DELETE ALL CANDIDATES</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <table id="candidatesTable" class="table table-bordered" [hidden]="isLoading">
        <thead>
        <tr>
        <th scope="col">Position</th>
        <th scope="col">Name</th>
        <th>Email</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Party</th>
        <th scope="col">Course</th>
        <th scope="col">Year</th>
        <th scope="col">Votes</th>
        <!-- <th>Photo</th> -->
        <th>Edit</th>
        <th>Delete</th>
        </tr>
        </thead>
        <tbody>
                <tr *ngFor="let candidate of candidates">
                <td>{{ candidate.position }}</td>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.age }}</td>
                <td>{{ candidate.gender }}</td>
                <td>{{ candidate.party }}</td>
                <td>{{ candidate.course }}</td>
                <td>{{ candidate.year }}</td>
                <td>{{candidate.votes}}</td>
                <!-- <td><img src="{{ candidate.photo }}" alt="{{ candidate.name }}" style="width: 50px; height: auto;"></td> -->
                <td>
                    <a [routerLink]="['/edit', candidate.id]"> 
                        <i class="fa fa-pencil" title="Edit" (click)="onEditCandidate(candidate)"></i>
                    </a>
                </td>
                <td>     
                    <i class="fa fa-trash" title="Delete" [ngStyle]="{'color':'red'}" (click)="openModal()"></i>

                    <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalTitle">CANDIDATE DELETE CONFIRMATION</h5>
                                    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                        <i id="xIcon" class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ARE YOU SURE YOU WANT TO DELETE THIS CANDIDATE?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
                                    <button type="button" class="btn btn-danger" (click)="confirmDelete(candidate.id)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                                           
                </td>
                </tr>
        </tbody>
        </table>
</div>